@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  background-color: #FFFFFF;
  background-position: 100% 0%;
  background-attachment: fixed;
  background-size: 100%;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

a:link
{
  color: #0B68CB;
}

a:visited{
  color: #0B68CB;
}
h1 {
  position: relative;
  top: -17px;
  padding:0px;
  font-size: 25px;
  width: 140px;
  -webkit-background-clip: text;

}


ul{

}
