.whiteback{
  background: #FFFFFF;
}

.active{
  font-size: 18px;
}

.topmenu{
  position: fixed;
  z-index: 1;
  width: 50%;
  background: #FFFFFF;
  color: black;
  margin-top: -40px;;
}

.topmenu ul{
  list-style: none;
  padding-right: 20px;
  margin-bottom: 95px;
}

.topmenu li{
  float: right;
  list-style-type: none;
}

.topmenu h1{
  float: left;
  padding-top: 30px;
}


.topmenu p{
  position: relative;
}

.topmenu a {
  text-decoration: none;
  display: block;
  padding: 5px;
  font-size: 14px;
  padding-left: 50px;
  padding-top: 0px;
  color: black;
  padding-right: 20px;
}

.children{
  padding-top: 140px;
  width: 80%;
  padding-left: 100px;
  padding-bottom: 100%;
}

.bottom_page{
  background: rgba(18, 14, 33, 0.9);

  width: 101.5%;
  float: left;
  margin: -10px;
  color: #4E9600;
  font-size: 30px;
  padding: -30px;
}

.bottom_page ul{
  list-style: none;
}

.bottom_page li{
  float: left;
  margin-left: 12%;
  text-align: center;
}
